<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.almende.footballpool"
    android:versionCode="20120603"
    android:versionName="Edgar Davids" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="11" />

    <application
        android:icon="@drawable/ic_launcher_sense"
        android:label="@string/app_label" >
        <activity
            android:name=".Standings"
            android:configChanges="orientation"
            android:label="@string/app_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prediction"
            android:configChanges="orientation"
            android:label="@string/prediction_label" >
        </activity>

        <receiver android:name=".sync.SyncAlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>

                <category android:name="android.intent.category.HOME" >
                </category>
            </intent-filter>
            <intent-filter>
                <action android:name="com.almende.footballpool.SYNCHRONIZE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".sync.SyncService"
            android:exported="false" />
    </application>

</manifest>